body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  padding-top: 5rem; 
  margin: 0 auto;
  width: 600px;
  background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
}

.btnDeleteAll{
  background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
}