body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: #F8F8F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  padding-top: 5rem; 
  margin: 0 auto;
  width: 80%;
 background: white;
}

.singleLine{
padding-left: 30rem;
}

.btnDeleteCheckAll{
  border: none;
  background-color: transparent;
  padding-left: 15rem;
  font-weight: bold;
  outline: none;
}

.btnDeleteAll{
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  font-weight: bold;
  padding-left: 15rem;
  outline: none;
}
